.moodle-dialogue {
  min-width: 500px;

  .atto_snippet_buttons {

    // Depend du nombre de snippets : ici 3
    width: 31%;

    margin-bottom: 10px;
    margin-top: 10px;

    button {
      @extend .btn-primary;
    }
  }

  .atto_media_urlentrysubmit {
    @extend .btn-primary;
  }
}


.mentor-separator {
  width: 100%;
  background-color: $maincolor;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

.mentor-image-text {
  img {
    width: 100%;
    margin-bottom: 20px;
  }
}

* > i {
  vertical-align: middle;
}

.mentor-card {

  &.consigne {
    .mentor-card-left {
      background-color: $consignebackgroudcolor;
    }
  }

  &.retenir {
    .mentor-card-left {
      background-color: $retenirbackgroudcolor;
    }
  }

  &.plus-loin {
    .mentor-card-left {
      background-color: $plusloinbackgroudcolor;
    }

  }

  &.pratique {
    .mentor-card-left {
      background-color: $pratiquebackgroudcolor;
    }
  }

  &.definition {
    .mentor-card-left {
      background-color: $definitionbackgroudcolor;
    }
  }

  &.important {
    .mentor-card-left {
      background-color: $importantbackgroudcolor;
    }
  }

  .mentor-card-left {
    color: $white;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    font-size: 18px;

    @media(width: $size-xl) {
      font-size: 16px;
    }

    i {
      margin-top: 15px;
      color: white !important;
      font-size: 36px;

      @media(width: $size-xl) {
        font-size: 31px;
      }
    }
  }

  .mentor-card-content {
    padding: 13px 24px 30px;

    h5 {
      margin-top: 10px;
      margin-bottom: 14px;
      line-height: 1.5;
      color: $maintitlecolor;
      font-size: 16px;

      @media(width: $size-xl) {
        font-size: 14px;
      }
    }

    .duration {
      color: $maincolor;
      line-height: 1.6;
      font-size: 14px;

      @media(width: $size-xl) {
        font-size: 12px;
      }
    }

    .modalities {
      list-style-type: none !important;
      padding-left: 0;

      li {
        color: $maincolor;
        line-height: 0.9;
        font-size: 16px;

        @media(max-width: $size-mobile) {
          line-height: inherit;
        }

        @media(width: $size-xl) {
          font-size: 14px;
        }
      }
    }
  }
}

.moodle-dialogue {
  .consigne-content {
    max-width: calc(100% - 120px);
  }
}

.drawer-open-left {
  @media(max-width: $size-lg) {
    .mentor-consigne {
      .consigne-left {
        max-width: 100%;
        flex: 100%;
      }

      .consigne-content .modalities li {
        max-width: 100%;
        flex: 100%;
      }
    }
  }
}

.mentor-accordion {
  list-style: none;
  padding-inline-start: 0;

  // Cache les elements vides generes par atto.
  &+br,
  &~p[dir="ltr"]:empty {
    display: none;
  }

  // Cache la bordure superieure des accordeons qui suivent cet element pour eviter la superposition.
  &+br+.mentor-accordion,
  &+br+p[dir="ltr"]:empty+.mentor-accordion {
    .card-header {
      border-top: 0;
    }
  }

  .card {
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .125);

    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, .125);
    }

    .card-header {
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      background-color: transparent;
      padding: 11px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-size: 16px;
      border-bottom: 0;
      border-radius: 0;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $element-hover;
      }

      .btn {
        padding: 0;
      }

      &.opened {
        background-color: $element-selected;
        border-radius: 0;

        &:hover {
          background-color: $element-selected-hover;
        }
      }

      h5 {
        font-weight: 500;
        font-size: 16px;
        text-align: left;
        color: $element;
        flex: 1;

        .btn {
          font-size: 16px;
          color: $element;
          text-align: left;
        }
      }


      .header-right {
        display: flex;
        align-items: center;
        gap: 12px;

        .fa {
          flex: 1;
          position: relative;
          cursor: pointer;
          top: unset;
          left: unset;
          border: none;
        }

        .collapse-chevron {
          color: $element;
          font-weight: 900;
          font-size: 1rem;
          display: inline-block;
        }
      }

      p.header-right {
        margin: 0;
      }

      .collapse-chevron {
        display: block;
      }

      .remove-collapse,
      .add-collapse {
        display: none;
      }

    }

    .collapse-content {
      padding: 0 11px 0 11px;
    }

    .card-body {
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: justify;
      color: #1e1e1e;
      padding: 11px 0 20px 0;
      font-size: 16px;

      @media (width: $size-xl) {
        font-size: 14px;
      }
    }

  }
}

.editor_atto {
  .mentor-accordion {

    .card {
      margin: 0px 50px;
    }

    .btn:not(:disabled):not(.disabled) {
      cursor: text;
    }

    h5 {
      color: $maincolor !important;

      .btn {
        color: $maincolor !important;
      }
    }

    .collapse:not(.show) {
      display: block;
    }


    .card-header {
      cursor: auto;
    }

    .collapse-chevron {
      display: none !important;
    }

    .remove-collapse,
    .add-collapse {
      display: block !important;
    }

  }
}

.mentor-h2 {
  // MEN-176: class removed. We keep css rule to not break old title snippet generated with this class.
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  font-size: 24px;

  @media (width: $size-xl) {
    font-size: 21px;
  }

  &.mentor-h2-black {
    color: $mentortitlecolor !important;
  }

  &.mentor-h2-blue {
    color: $maincolor !important;
  }

}

.mentor-h3 {
  // MEN-176: class removed. We keep css rule to not break old title snippet generated with this class.
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  font-size: 18px;

  @media (width: $size-xl) {
    font-size: 16px;
  }

  &.mentor-h3-black {
    color: $mentortitlecolor;
  }

  &.mentor-h3-blue {
    color: $maincolor;
  }
}

.row.cards-mentor {
  margin: 0 3rem;
  display: grid;
  grid-gap: 12px 2rem;
  grid-template-columns: repeat(auto-fit, minmax(24rem, max-content));
  justify-content: center;
  
  @media (max-width: $size-lg) {
    margin: 0 1rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, max-content));
  }

  @media (max-width: $size-mobile) {
    margin: 0 1rem;
    grid-template-columns: repeat(auto-fit, minmax(17rem, max-content));

  }

  @media (max-width: $size-md) {
    margin: 0 1rem;
    grid-template-columns: repeat(auto-fit, minmax(17rem, max-content));

  }

  @media (max-width: $size-sm) {
    margin: 0 1rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, max-content));

  }
  
}

.add-card,
.remove-card {
  display: none;
}

.card-mentor {
  margin: 20px;
  min-width: 200px;
  padding-left: 0;
  padding-right: 0;
  max-width: 24rem;  
  
@media (max-width: $size-lg) {
 
      max-width: 18rem !important;  
  }

@media (max-width: $size-mobile) {
  
      max-width: 17rem !important; 
  
}

@media (max-width: $size-md) {
 
      max-width: 17rem !important; 
  
}

@media (max-width: $size-sm) {
  
      width: 14rem !important;
  
}

  .card-text {
    margin-bottom: 3rem;
  }

  .card-body>a:last-child {
    color: $white !important;
    background: $maincolor !important;
    padding: 7px 16px 9px 15px !important;
    border: none !important;
    border-radius: 0 !important;
    bottom: 1.25rem;
    position: absolute;
  }
}

.editor_atto_content {
  .add-card {
    display: block;
    position: absolute;
    right: -20px;
    top: 50%;
    cursor: pointer;
  }

  .remove-card {
    display: block;
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .125);
  }
}

#card-popup-modal {
  .modal-content {
    width: 450px !important;

    .card-modal-form {
      margin: 20px;

      #card-text-input {
        height: 100px;
      }
    }
  }
}

.class-virtuelle,
.presentiel {
  .mentor-card-left {
    background-color: #0562C8;
  }

}

.class-virtuelle,
.presentiel,
.presentation-formation {
  .mentor-card-content {
    .date {
      color: #0562C8;
    }
  }
}

.presentiel {
  .mentor-card-left {
    i {
      font-size: 25px;
      margin: 15px 2px 0 2px;

      @media (width: $size-xl) {
        font-size: 22px;
      }
    }
  }

  .adresse {
    .adresse-title {
      font-size: 14px;

      @media (width: $size-xl) {
        font-size: 12px;
      }
    }

    .adresse-content {
      i {
        color: #0562C8;
        font-size: 20px;

        @media (width: $size-xl) {
          font-size: 18px;
        }
      }

      .adresse-position {
        text-transform: uppercase;
      }
    }
  }
}

.presentation-formation {
  .mentor-card-left {
    color: #0562C8;
    justify-content: start;
    -ms-flex-pack: start;
    padding-top: 60px;

    i {
      color: #0562C8 !important;
    }
  }

  .mentor-card-content {
    .date-virtuelle {
      i {
        font-size: 18px;

        @media (width: $size-xl) {
          font-size: 16px;
        }
      }
    }

    .file {
      color: #0562C8;

      i {
        padding-left: 15px;

        &:first-child {
          padding-left: 0;
        }
      }

      a {
        padding-left: 15px;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .formateur {
      .formateur-title {
        font-size: 14px;

        @media (width: $size-xl) {
          font-size: 12px;
        }
      }

      .formateur-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 13px;

        @media (width: $size-xl) {
          font-size: 11px;
        }

        img {
          width: 30px;
          height: 30px;
          clip-path: ellipse(50% 50%) !important;
          margin-left: 40px;
          margin-right: 10px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}


.mentor-video {
  max-height: 450px;

  iframe {
    max-width: 800px;
    left: 50% !important;
    transform: translate(-50%) !important;
  }
}

// #MEN-123 add style for atto image to prevent style change by width & height in the editor
.card.card-mentor img {
  width: 100%;
  max-width: 100%;
  margin: 0;
  height: 13rem;
  border-top-left-radius: calc(0.5rem - 1px);
  border-top-right-radius: calc(0.5rem - 1px);
  object-fit: cover;
}