body[class*="course-"] {

  &.demo-course {
    #page {
      background-color: #fef8f9;
      border-top: 20px solid #f7bfc3;

      #course-status {
        background-color: #f07f87 !important;
      }

      #topofscroll {
        background-color: #fef8f9 !important;
      }
    }
  }

  #page-header {

    .d-flex {
      justify-content: right !important;
    }

    #page-navbar + .ml-auto {
      order: 2;
      margin-left: 0px !important;

      .singlebutton {
        margin-left: 20px;
      }
    }

    #course-header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;

      @media(max-width: 666px) {
        margin-bottom: 10px;
        margin-right: 0px;
        justify-content: right;
        width: 100%;
      }

      & + .d-flex:not(:empty) {
        justify-content: right !important;

        .singlebutton {
          margin-left: 21px;
        }

        @media(max-width: 666px) {
          margin-left: auto;
        }
      }

      #course-status {
        padding: 5px 16px 6px;
        border-radius: 26.3px;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
        background-color: #008941;
        color: $white;
        margin-left: 20px;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

  &:not(.format-edadmin):not(.course-1) {

    #page-navbar {
      li.breadcrumb-item:nth-child(2) {
        display: none;
      }
    }
  }

  .course-content {
    line-height: 1.75;
    color: $coursetextcolor;
    position: relative;
    padding-bottom: 30px;
    font-size: 16px;

    @media (width: $size-xl) {
      font-size: 14px;
    }

    ul.topics {
      ul.section {
        padding-left: 30px;
        padding-right: 30px;
      }

      & > li.section {
        margin-top: 0;

        div.summary:not(:empty) {
          padding-top: 30px;
        }

        div.card.card-mentor {
          margin-top: 0;
        }

        .course-section-header {
          justify-content: center;

          .section_action_menu {
            margin-left: unset !important;
            position: absolute;
            right: 0;
          }
        }
      }
    }

    @media (max-width: $size-xl) {
      .section-title {
        font-size: 22px;
      }
    }

    #completionprogressid {

      margin-right: 20px;

      .icon {
        margin-right: 0;
      }

      i.fa-question-circle {
        background-image: url("[[pix:theme|help]]");
        background-size: contain;
        height: 20px;
        width: 20px;
        margin-left: 3px;
        font-size: 20px;

        @media(width: $size-xl) {
          font-size: 18px;
        }

        &:before {
          content: none;
        }
      }
    }

    ul.section {
      margin: 0;
      padding: 0;

      .activity a.stealth,
      .section .activity a.stealth:hover {
        color: #5D5DFF !important;
      }

      .activity.modtype_label.label {
        padding-top: 25px;

        .h5p-placeholder {
          @media(min-width: $size-mobile) {
            display: flex;
            justify-content: center
          }

          & > iframe {
            @media(min-width: $size-mobile) {
              width: 85% !important;
            }
          }
        }
      }
    }

    h3.sectionname {
      font-weight: bold;
      color: $maintitlecolor;
      font-size: 24px;

      @media(max-width: 666px) {
        margin-left: 15px;
      }

      @media (max-width: $size-xl) {
        font-size: 20px;
      }

      a {
        color: $maintitlecolor;
      }
    }

    li.activity {
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      padding-top: 15px;

      &:last-child {
        border: none;
      }

      .actions {
        .icon {
          margin-right: 0;
        }
      }

      .activityiconcontainer {
        & + .media-body {
          & > div:first-child:not(.activityname) {
            display: none;
          }
        }
      }
    }

  }

  .modchooser {
    .searchcontainer .searchbar {
      .input-group-append i {
        color: $white;
      }

      .input-group-text.rounded-right {
        border: none;
        border-bottom: 2px solid $maincolor;
        background: $maincolor !important;
      }
    }

    .chooser-container {
      font-size: 0.9em;
    }
  }

  .section-navigation {
    &.mdl-bottom {
      background-color: rgba(7, 98, 200, 0.06);
      overflow: auto;

      .jumpmenu {
        display: none;
      }
    }

    &.navigationtitle {
      padding: 0;

      .mdl-left,
      .mdl-right {
        display: none;
      }

    }

  }

  table {
    thead {
      th {
        border-bottom: 2px solid #6a6a6a;
        border-top: none;
        background-color: #f9f8f6;
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }

    tbody {

      tr {
        &:nth-of-type(odd) {
          background-color: transparent;
        }

        &:nth-of-type(even) {
          background-color: rgba(0, 0, 0, .05);
        }
      }

      td, th {
        border-top: none;
        border-bottom: 1px solid #dee2e6;
      }
    }

    i.fa-ellipsis-v {
      color: #9c9c9c;
    }
  }

  .modal {
    .modal-content {
      overflow: unset;

      .close {
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(15, 111, 197, .75);
        }

        &:not(:disabled):not(.disabled) {
          &:hover, &:focus {
            opacity: .75;
          }
        }
      }

      .modal-footer {
        .btn-secondary {
          order: 2;
        }
      }
    }
  }

  .modchoosercontainer,
  .activityiconcontainer {
    .optionicon,
    &.courseicon {
      background-color: unset;

      .icon,
      .activityicon {
        height: 36px;
        width: 36px;
        filter: none;
      }
    }
  }

  &:not(.editing) {
    &:not(.format-tiles) {
      .section0-empty-section.section0-empty-summary {
        #section-0 {
          display: none;
        }
      }
    }

    &.format-topics {
      #region-main {
        .section0-empty-section.section0-empty-summary {
          padding-top: 16px;
        }
      }
    }
  }

  #region-main-settings-menu > div {
    padding-right: 16px;

    @media (max-width: 768px) {
      padding-right: 4px;
    }

    @media (max-width: 576px) {
      padding-right: 10px;
    }
  }

  .drawer.drawer-right {
    width: 375px;
    max-width: 375px;
  }
}

@media (min-width: 992px) {
  #page.drawers {
    &.show-drawer-right,
    &.show-drawer-left.show-drawer-right {
      padding-right: 0;
      margin-right: 375px;
    }
  }
}

#page-course-view-participants {
  #fitem_id_cohortlist {
    display: none;
  }

  .modal-dialog-scrollable .modal-body {
    overflow-y: unset;
  }
}

.drawer.drawer-right {
  @media (max-width: 1247px) {
    top: 0!important;
    height: 100vh!important;
    z-index: 1050;
  }
}