@font-face {
  font-family: 'Marianne';
  src: url([[font:theme|Marianne-Regular.woff]]) format('woff'),
  url([[font:theme|Marianne-Regular.woff2]]) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url([[font:theme|Marianne-Bold.woff]]) format('woff'),
  url([[font:theme|Marianne-Bold.woff2]]) format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Marianne', Arial, sans-serif;
}