#page-mod-customcert-view {
  main[role="main"] {
    .singlebutton {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    h2:last-child {
      margin-top: 8px;
    }
  }
}