#page-my-index {

  #page-header {
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: auto 72%;

    @media(max-width: $size-mobile) {
      padding-top: 10px;
      margin-left: 0;
      margin-right: 0;
    }

    @media(max-width: $size-md) {
      background-size: auto 45px;
      background-position: left 15px top 10px;
      padding-bottom: 10px;
      margin-left: 0;
      margin-right: 0;
    }
    @media(max-width: $size-sm) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  #page-content {

    @media(max-width: $size-mobile) {
      margin-left: 0;
      margin-right: 0;
    }

    @media(max-width: $size-md) {

        margin-left: 0;
        margin-right: 0;
    }
    @media(max-width: $size-sm) {
        margin-left: 0;
        margin-right: 0;
    }
  }

  #region-main {
    box-shadow: none;
    @media(max-width: $size-mobile) {
      margin-left: 0;
      margin-right: 0;
    }

    @media(max-width: $size-md) {

        margin-left: 0;
        margin-right: 0;
    }
    @media(max-width: $size-sm) {
        //margin-left: 0.9375rem;
       
    }
  }

  .modal-dialog {
    min-width: 550px;
  }

  span[data-flexitour="container"][x-placement="bottom-start"] div[data-role="arrow"] {
    top: -40px;
  }

}
// Fix the useless x scrolling bar for Iphone display.
#region-main {
  @media (max-width: $size-sm) {
    overflow-x: hidden !important;
  }
}
