.mentor-search {

  display: block;
  margin-bottom: 20px;

    @media (max-width: 1024px) {
      text-align: center;
      right: 0;
    }

    @media (max-width: 767px) {
      display: -webkit-flex;
      text-align: center;
      position: relative;
      right: auto;
    }

    #search-mentor-input {
      width: 301px;
      background-color: #f8f8f8;
      border-top-right-radius: 0;
     // float: left;
      height: 40px;
      width: 320px;

      @media (max-width: 1024px) {
        max-width: 300px;
      }

      @media (max-width: 767px) {
        max-width: none;
        width: calc( 100% - 44px);
      }

      &:focus-visible {
        border-radius: 0;
        border: 2px solid #2a7ffe !important;
        outline: none;
      }

    }

    #search-mentor-button {
      width: 40px;
      height: 40px;
      text-align: center;
      border-top-right-radius: 4px !important;
      padding: 0 !important;
      float: right;

      @media (max-width: 767px) {
        margin-left: -4px;
      }

      .icon {
        margin: 0;
        font-size: 18px !important;
      }
    }

    #search-mentor-input, #search-mentor-button {
      border-bottom: 2px solid #000091 !important;
      vertical-align: middle;

      @media (max-width: 767px) {
        float: none;
      }
    }
  }