<div class="col-3">
    <div class="mentor_notification float-right">
        <button class="mentor_notification_button btn btn-secondary btn-lg" id="notification_button" aria-label="{{ labelNotificationButton }}"><b>{{ labelNotificationButton }}</b>
                <img src="{{{wwwroot}}}/theme/mentor/pix/vector.svg" class="icon notification_icon"  />
        </button>
    </div>
</div>

{{> theme_boost/notification_modal }}