        
<div class="row">
    <div class="col">
        <div class="mentor_notification float-right">
            <button class="mentor_notification_button btn btn-secondary btn-lg" id="notification_button" aria-label="{{# str}} notification_button, theme_mentor {{/str}}"><b>{{# str}} notification_button, theme_mentor {{/str}}</b>
                <i class="fa fa-bell"></i> 
            </button>
        </div>
    </div>
</div>

{{> theme_boost/notification_modal }}